{% extends 'base.html.twig' %}

{% block title %}Nouvelle prospection{% endblock %}

{% block body %}
    <div class="max-w-md mx-auto bg-white rounded p-8 shadow-md my-20 ">
        <h2 class="text-2xl font-bold mb-4">Nouvelle prospection</h2>

        <form action="" method="POST">
            <div class="mb-4">
                <label for="status" class="block text-gray-700 font-bold mb-2">Status</label>
                <input type="text" id="status" name="status"  class="w-full border rounded-md py-2 px-3 text-gray-700 focus:outline-teal-500">
            </div>

            <div class="mb-4">
                <label for="commentaire" class="block text-gray-700 font-bold mb-2">Commentaire</label>
                <textarea id="commentaire" name="commentaire" placeholder="Entrez votre commentaire" class="w-full border rounded-md py-2 px-3 text-gray-700 focus:outline-teal-500"></textarea>
            </div>

            <div class="mb-4">
                <label for="datepicker" class="block text-gray-700 font-bold mb-2">Date</label>
                <input type="date" id="datepicker" name="datepicker" class="w-full border rounded-md py-2 px-3 text-gray-700 focus:outline-teal-500">
            </div>

            <button type="submit" class="bg-teal-600 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Envoyer</button>
        </form>
    </div>
{% endblock %}
