{% extends 'base.html.twig' %}

{% block title %}Ri7 prospector - Accueil{% endblock %}

{% block body %}
	<section>
		<div class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
			<div class="grid grid-cols-1 lg:h-full lg:grid-cols-2">
				<div class="relative z-10 lg:py-16">
					<div class="relative h-64 sm:h-80 lg:h-full">
						<img alt="House" src="{{ asset('/assets/images/home_picture.jpg') }}" class="absolute inset-0 h-full w-full object-cover"/>
					</div>
				</div>

				<div class="relative flex items-center bg-gray-100">
					<span class="hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16 lg:bg-gray-100"></span>

					<div class="p-8 sm:p-16 lg:p-24">
						<h2 class="text-2xl font-bold sm:text-3xl">
							Vous cherchez un nouveau job ? Vous cherchez une nouvelle mission ?
						</h2>

						<p class="mt-4 text-gray-600">
							Découvrez Ri7 Prospector, l'appli ultime de prospection d'entreprise. Boostez votre croissance grâce à une analyse intelligente, une personnalisation pointue et une automatisation intuitive. Simplifiez votre prospection, ciblez vos prospects avec précision, et ouvrez la voie vers de nouvelles opportunités. Ri7 Prospector : votre allié stratégique pour conquérir le marché.
						</p>

						<a id="get-started" href="{{ path('app_new_prospection') }}" class="mt-8 inline-block rounded border border-teal-600 bg-teal-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500">
							Démarrez votre prospection !
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
