{% extends 'base.html.twig' %}

{% block title %}Nouvelle prospection{% endblock %}

{% block body %}
    <div class="max-w-md mx-auto bg-white">
        <h2 class="text-2xl font-bold mb-4 text-center">Nouvelle prospection</h2>

        <form id="new-prospection-form" method="POST">
            <div class="mb-4">
                <select name="type" id="type" class="w-full border rounded-md py-3 px-3 text-gray-700 focus:outline-teal-500">
                    {% for type in types %}
                        <option value="{{ type.value }}">{{ type.value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-4">
                <input type="text" id="name" name="name" placeholder="Nom"  class="w-full border rounded-md py-2 px-3 text-gray-700 focus:outline-teal-500">
            </div>

            <div class="mb-4">
                <textarea id="commentaire" name="comment" placeholder="Entrez votre commentaire" class="w-full border rounded-md py-2 px-3 text-gray-700 focus:outline-teal-500"></textarea>
            </div>

            <div class="text-center">
                <button type="submit" class="bg-teal-600 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Envoyer</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript" defer>
        const form = document.querySelector('#new-prospection-form')
        console.log(form)
        form.addEventListener('submit', function (e) {
            console.log('submit')
            e.preventDefault()
            const formData = new FormData(e.target)
            const data = Object.fromEntries(formData.entries())
            console.log(data)

            fetch("{{ path('_api_/prospections{._format}_post') }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/ld+json'
                },
                body: JSON.stringify(data),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.id) {
                        window.location.href = Routing.generate('app_prospection_show', { id: data.id})
                    }
                })
        })
    </script>
{% endblock %}
