{% extends 'base.html.twig' %}

{% block title %}Prospection {{ prospection }}{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1 class="text-center text-teal-600 text-xl">Prospection <strong>{{ prospection }}</strong></h1>
    </div>
{% endblock %}
